<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kitap</title>
  </head>
  <body>

    <h1> <%- baslik %> </h1>
    <p> Yazarı : <%- yazar %> </p>
    <p> Fiyatı: <%- fiyat %> </p>
    <p> Açıklama: <%- aciklama %> </p>
    <p> Basım Yılı: <%- basimyili %> </p>
    <p> ISBN : <%- isbn %> </p>
  </body>
</html>
